apiVersion: v1
kind: Service
metadata:
  name: mongo-headless
  namespace: flask-mongo-ns
spec:
  clusterIP: None
  selector:
    app: mongo
  ports:
    - port: 27017
      name: mongodb
