apiVersion: v1
kind: Service
metadata:
  name: mongo-svc
  namespace: flask-mongo-ns
spec:
  selector:
    app: mongo
  ports:
    - name: mongodb
      port: 27017
      targetPort: 27017
  type: ClusterIP
